# Environment variables
.env

# Rust
target/
.cargo/

# Dependencies
node_modules/

# IDE & OS
.vscode/
.idea/
Thumbs.db
.DS_Store

# Temporary files
*.txt

# Specification Link
d2r-spec/

# Temporary Data Extraction Tools
d2r-data-extractor/

# Generated Test Files
tests/fixtures/savegames/modified/

# External Data (Symbolic Link)
d2r-data/


